{{ define "content" }}        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

        <form method="POST" action="/addnote">
            <div class="form-group"  >
                <label for="noteTitle">Заголовок заметки</label>
                <input name="noteTitle" type="text" class="form-control" placeholder="Заголовок">
            </div>
            <div class="form-group">
                <label for="noteBody">Текст заметки</label>
                <textarea name="noteBody" id="noteBody" type="text" class="form-control" rows="25" placeholder="Текст записи...."></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </form>
    </div>
    <script>
            new SimpleMDE({
                element: document.getElementById("noteBody"),
                spellChecker: false,
            });
            </script>
{{ end }}